<a href="https://colab.research.google.com/github/robisonJohn/Blockchain-Governance-Project/blob/main/Chi_Square_Voting_Rights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency
import numpy as np

url = 'https://raw.githubusercontent.com/robisonJohn/Blockchain-Governance-Project/main/governance.csv';

data = pd.read_csv(url);

In [4]:
listOne = list(data['ValueCreationNorm'])
listTwo = list(data['Decision/voting rights'])

listThree = []

i = 0
for i in range(len(listOne)):
  if type(listTwo[i]) == str:
    listThree.append((listOne[i], listTwo[i]))

dictionary = {
    ('1', 'None'): 0,
    ('1', 'Proportional'): 0,
    ('1', 'Tiered'): 0,
     ('1', 'Quadratic'): 0,
     ('1', 'Other'): 0,
    ('2', 'None'): 0,
    ('2', 'Proportional'): 0,
    ('2', 'Tiered'): 0,
     ('2', 'Quadratic'): 0,
     ('2', 'Other'): 0,
    ('3', 'None'): 0,
    ('3', 'Proportional'): 0,
    ('3', 'Tiered'): 0,
     ('3', 'Quadratic'): 0,
     ('3', 'Other'): 0,
    ('4', 'None'): 0,
    ('4', 'Proportional'): 0,
    ('4', 'Tiered'): 0,
     ('4', 'Quadratic'): 0,
     ('4', 'Other'): 0,

}

for item in listThree:
  if item in dictionary:
    dictionary[item] += 1

rights = pd.DataFrame(
    [
     [28,1,12,7],
     [10,2,10,10],
     [0,0,4,0],
     [0,0,0,1],
     [1,0,2,3]
    ],
    index=[
           'None',
           'Proportional',
           'Tiered',
           'Quadratic',
           'Other'
           ],
    columns = [
               'Low Value',
               "Moderate Value",
               "High Value",
               "Extremely High Value"
               ]
)
rights

              Low Value  Moderate Value  High Value  Extremely High Value
None                 28               1          12                     7
Proportional         10               2          10                    10
Tiered                0               0           4                     0
Quadratic             0               0           0                     1
Other                 1               0           2                     3

In [5]:
# Expected values 
df = chi2_contingency(rights)[3]

pd.DataFrame(
    data=df[:,:],
    index=[
           'None',
           'Proportional',
           'Tiered',
           'Quadratic',
           'Other'
    ],
    columns=[
             'Low Value',
              "Moderate Value",
              "High Value",
              "Extremely High Value"
    ]
).round(2)

              Low Value  Moderate Value  High Value  Extremely High Value
None              20.57            1.58       14.77                 11.08
Proportional      13.71            1.05        9.85                  7.38
Tiered             1.71            0.13        1.23                  0.92
Quadratic          0.43            0.03        0.31                  0.23
Other              2.57            0.20        1.85                  1.38

In [6]:
pvalue = chi2_contingency(rights)[1]
if pvalue < 0.05:
  print('The result is statistically significant, so we reject the null hypothesis')
else:
  print('The result is not statistically significant, so we fail to reject the hypothesis')

The result is statistically significant, so we reject the null hypothesis

In [7]:
successGivenNone = (rights['Extremely High Value'][0] + rights['High Value'][0]) / (rights['Low Value'][0] + rights['Moderate Value'][0] + rights['High Value'][0] + rights['Extremely High Value'][0])

In [8]:
successGivenProportional = (rights['Extremely High Value'][1] + rights['High Value'][1]) / (rights['Low Value'][1] + rights['Moderate Value'][1] + rights['High Value'][1] + rights['Extremely High Value'][1])

In [9]:
successGivenTiered = (rights['Extremely High Value'][2] + rights['High Value'][2]) / (rights['Low Value'][2] + rights['Moderate Value'][2] + rights['High Value'][2] + rights['Extremely High Value'][2])

In [10]:
successGivenQuadratic = (rights['Extremely High Value'][3] + rights['High Value'][3]) / (rights['Low Value'][3] + rights['Moderate Value'][3] + rights['High Value'][3] + rights['Extremely High Value'][3])

In [11]:
successGivenOther = (rights['Extremely High Value'][4] + rights['High Value'][4]) / (rights['Low Value'][4] + rights['Moderate Value'][4] + rights['High Value'][4] + rights['Extremely High Value'][4])

In [12]:
max([successGivenNone,successGivenOther,successGivenProportional,successGivenQuadratic,successGivenTiered])

1.0

In [19]:
successGivenNone * (rights['Low Value'][0] + rights['Moderate Value'][0] + rights['High Value'][0] + rights['Extremely High Value'][0])

19.0

In [20]:
successGivenProportional * (rights['Low Value'][1] + rights['Moderate Value'][1] + rights['High Value'][1] + rights['Extremely High Value'][1])

20.0

In [21]:
successGivenTiered *  (rights['Low Value'][2] + rights['Moderate Value'][2] + rights['High Value'][2] + rights['Extremely High Value'][2])

4.0

In [24]:
successGivenQuadratic * (rights['Low Value'][3] + rights['Moderate Value'][3] + rights['High Value'][3] + rights['Extremely High Value'][3])

1.0

In [25]:
successGivenOther * (rights['Low Value'][3] + rights['Moderate Value'][3] + rights['High Value'][3] + rights['Extremely High Value'][3])

0.8333333333333334