<a href="https://colab.research.google.com/github/robisonJohn/Blockchain-Governance-Project/blob/main/Chi_Square_Voting_Delegation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from scipy.stats import chi2_contingency
import numpy as np

url = 'https://raw.githubusercontent.com/robisonJohn/Blockchain-Governance-Project/main/governance.csv';

data = pd.read_csv(url);

listOne = list(data['ValueCreationNorm'])
listTwo = list(data['Voting delegation'])

listThree = []

i = 0
for i in range(len(listOne)):
  if type(listTwo[i]) == str:
    listThree.append((listOne[i], listTwo[i]))

dictionary = {
    ('1', 'Open'): 0,
    ('1', 'None'): 0,
    ('1', 'With terms'): 0,
    ('2', 'Open'): 0,
    ('2', 'None'): 0,
    ('2', 'With terms'): 0,
    ('3', 'Open'): 0,
    ('3', 'None'): 0,
    ('3', 'With terms'): 0,
    ('4', 'Open'): 0,
    ('4', 'None'): 0,
    ('4', 'With terms'): 0,


}

for item in listThree:
  if item in dictionary:
    dictionary[item] += 1

dictionary

{('1', 'None'): 35,
 ('1', 'Open'): 3,
 ('1', 'With terms'): 0,
 ('2', 'None'): 3,
 ('2', 'Open'): 0,
 ('2', 'With terms'): 0,
 ('3', 'None'): 22,
 ('3', 'Open'): 6,
 ('3', 'With terms'): 0,
 ('4', 'None'): 19,
 ('4', 'Open'): 2,
 ('4', 'With terms'): 0}

In [ ]:
delegation = pd.DataFrame(
    [
     [35,3,22,19],
     [3,0,6,2]
    ],
    index=[
           'None',
           'Open'
           ],
    columns = [
               'Low Value',
               "Moderate Value",
               "High Value",
               "Extremely High Value"
               ]
)
delegation
# With terms had zero entries so it was pointless to include

      Low Value  Moderate Value  High Value  Extremely High Value
None         35               3          22                    19
Open          3               0           6                     2

In [ ]:
# Expected values 
df = chi2_contingency(delegation)[3]

pd.DataFrame(
    data=df[:,:],
    index=[
           'None',
           'Open'
    ],
    columns=[
             'Low Value',
              "Moderate Value",
              "High Value",
              "Extremely High Value"
    ]
).round(2)

      Low Value  Moderate Value  High Value  Extremely High Value
None      33.36            2.63       24.58                 18.43
Open       4.64            0.37        3.42                  2.57

In [ ]:
pvalue = chi2_contingency(delegation)[1]
if pvalue < 0.05:
  print('The result is statistically significant, so we reject the null hypothesis')
else:
  print('The result is not statistically significant, so we fail to reject the hypothesis')

The result is not statistically significant, so we fail to reject the hypothesis

In [11]:
print(pvalue)

0.32920693588896366